
<div class="container">

  {{patientCtrl.result}}
  <table class="table table-hover">
    <thead>
      <th>Nom</th>
      <th>Prenom</th>
      <th>E-Mail</th>
      <th>Telephone</th>
      <th>Supprimer fiche</th>
    </thead>

    <tbody>
      <tr ng-repeat="item in patientCtrl.patients" ng-click="patientCtrl.test(item._id)" >
	<td>{{item.lastname}}</td>
	<td>{{item.firstname}}</td>
	<td>{{item.email}}</td>
	<td>{{item.phone}}</td>
	<td>
	  <a type="checkbox" class="btn glyphicon glyphicon-remove"
	     ng-click="patientCtrl.deletePatient(item._id)">
	  </a>
	</td>

      </tr>
    </tbody>
  </table>

  <div class="well" ng-show="!patientCtrl.auth.isAuthenticated()">
    Ressource destinée aux practiciens.
    <a ui-sref="root.user-login">Veuillez vous authentifier</a>
  </div>
  
</div>
