<div class="container">

  <h3>Creation d'une fiche patient <span class="label label-default">Taintain !!</span></h3>
  
  <form >
    
    <div class="form-group">
      <span class="input-group-addon" id="basic-addon1">Prenom</span>
      <input type="text" class="form-control" placeholder="Prénom" aria-describedby="basic-addon1" ng-model="ctrl.patient.firstname">
    </div>
    
    <div class="form-group">
      <span class="input-group-addon" id="basic-addon1">Nom de famille</span>
      <input type="text" class="form-control" placeholder="Nom de famille" aria-describedby="basic-addon1" ng-model="ctrl.patient.lastname">
    </div>

    <div class="form-group">
      <span class="input-group-addon" id="basic-addon1">E-mail</span>
      <input type="text" class="form-control" placeholder="E-mail" aria-describedby="basic-addon1" ng-model="ctrl.patient.email">
    </div>

    <div class="form-group">
      <span class="input-group-addon" id="basic-addon2">Adresse</span>
      <input type="text" class="form-control" placeholder="Adresse" aria-describedby="basic-addon1" ng-model="ctrl.patient.address">
    </div>
    
    <div class="form-group">
      <span class="input-group-addon" id="basic-addon2">Numéro de telephone</span>
      <input type="tel" class="form-control" placeholder="Numéro de téléphone" aria-describedby="basic-addon1" ng-model="ctrl.patient.phone">
    </div>

    <button type="submit" class="btn btn-primary" ng-click="ctrl.createPatient()">Enregistrer</button>
    <button type="button" class="btn btn-danger">Tout effacer</button>
    
  </form>


</div>
