<div>

  <h3>Creation d'une fiche patient <span class="label label-default">Taintain !!</span></h3>
  
  <form >
    
    <div class="form-group">
      <span class="input-group-addon" id="basic-addon1">Prenom</span>
      <input type="text" class="form-control" placeholder="{{ctrl.firstname}}" aria-describedby="basic-addon1">
    </div>
    
    <div class="form-group">
      <span class="input-group-addon" id="basic-addon1">Nom</span>
      <input type="text" class="form-control" placeholder="{{ctrl.lastname}}" aria-describedby="basic-addon1">
    </div>
    
    <div class="form-group">
      <span class="input-group-addon" id="basic-addon2">Adresse</span>
      <input type="text" class="form-control" placeholder="{{ctrl.address}}" aria-describedby="basic-addon1">
    </div>
    
    <div class="form-group">
      <span class="input-group-addon" id="basic-addon2">Numero de telephone</span>
      <input type="tel" class="form-control" placeholder="{{ctrl.phone}}" aria-describedby="basic-addon1">
    </div>

    <button type="button" class="btn btn-primary">Enregistrer</button>
    <button type="button" class="btn btn-danger">Tout effacer</button>
    
  </form>


</div>
