<!-- Panel for user creation -->
<div class="col-md-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Ajouter un praticien
    </div>
    <div class="panel-body">

      <form role="form">

	<div class="form-group">
	  <label for="inputFname" class="control-label">Login</label>
	  <input type="text"
		 id="inputFname"
		 class="form-control"
		 placeholder="Login"
		 required=""
		 autofocus=""
		 ng-model="userPanelCtrl.userData.login">
	</div>

	<div class="form-group">
	  <label for="inputPassword" class="control-label">Password</label>
	  <input type="password"
		 id="inputPassword"
		 class="form-control"
		 placeholder="Password"
		 ng-model="userPanelCtrl.userData.password">
	</div>

	<div class="form-group">
	  <label for="inputConfirmPassword" class="control-label">Password Confirmation</label>
	  <input type="password"
		 id="inputConfirmPassword"
		 class="form-control"
		 placeholder="Password Confirmation">
	</div>
	
	<button class="btn btn-lg btn-primary " type="submit" ng-click="userPanelCtrl.createUser()">
	  Creer le praticien
	</button>
	
      </form>
    </div>
  </div>
</div>

<!-- Panel for user list -->
<div class="col-md-9">
  <div class="panel panel-info">
    <div class="panel-heading">
      Liste des praticiens
    </div>
    <div class="panel-body">

      <table class="table table-condensed">
	<thead>
	  <tr>
	    <th>Nom</th>
	    <th>E-mail</th>
	    <th>Modules</th>
	    <th>Supprimer</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="user in userPanelCtrl.users">
	    <td>
	      <h4 class="list-group-item-heading">{{user.login}}</h4>
	    </td>
	    <td>mail</td>
	    <td>
	      <span ng-repeat="item in user.profile.module" class="label label-default">
		{{item.name}}
		<a type="checkbox" class="btn glyphicon glyphicon-remove"
		   ng-click="userPanelCtrl.removeModuleFromUser(user._id, item.name)">
		</a>
	      </span>
	      <div class="btn-group">
		<button type="button" class="btn btn-warning dropdown-toggle"
			data-toggle="dropdown"
			aria-haspopup="true" aria-expanded="false">
		  Ajouter <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
		  <li ng-repeat="mod in userPanelCtrl.listModules" >
		    <a href="" ng-click="userPanelCtrl.addModuleToUser(user._id, mod.name)">
		      {{mod.name}}
		    </a>
		  </li>
		</ul>
	      </div>
	    </td>
	    <td>
	      <a type="checkbox" class="btn glyphicon glyphicon-remove"
		 ng-click="userPanelCtrl.deleteUser(user._id)">
	      </a>
	    </td>
	    
	  </tr>
	</tbody>
      </table>

    </div>
    
  </div>
</div>

{{userPanelCtrl.result}}

