<div class="container">
  Compteur :
  {{userCtrl.compteur}}
  Liste des utilisateurs: 
  <div class="well">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="user in userCtrl.users">
	<span>{{user.name}} - {{user.admin}}</span>
	<!-- LOOP OVER THE TODOS IN $scope.todos -->
	<div class="checkbox">
	  <label>
	    <input type="checkbox" ng-click="userCtrl.deleteUser(user.name)">
	  </label>
	</div>

      </li>
    </ul>
  </div>

  result: {{userCtrl.result | json}}
</div>
